.header{
    background-color: #253025;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 9px;
    margin-bottom: 9px;
    object-fit: contain;
}

.header__search{
    display: flex;
    flex: 1;
    
}

.header__searchInput{
    height: 12px;
    padding: 10px;
    border:none;
    width: 100%;
    align-self: center;
}

.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9048;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__optionbasket{
color: white;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}


.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionbasket{
    display: flex;
    align-items: center;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}